-e git+https://github.com/shotgunsoftware/tk-core.git@v0.20.4#egg=sgtk
git+https://github.com/shotgunsoftware/python-api.git@v3.4.0
commitizen
wheel
build
twine
ruff
mypy
invoke
black
pre-commit
pytest-cov
pytest
tox
