git+https://github.com/shotgunsoftware/python-api.git@v3.3.1
bump2version
wheel
build
twine
flake8
Sphinx
sphinx-rtd-theme
myst-parser;python_version > "2.7"
coverage
nose2
tox
mock==3.0.5;python_version < "3.6"
