# Simple workflow for deploying sphinx documentation to GitHub Pages
name: Deploy static sphinx documentation to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
            python-version: "3.10"
      - name: Install dependencies
        run: |
          pip install -U pip setuptools wheel
          pip install tox
      - name: Sphinx build
        run: |
          tox -e py310_docs
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          # Upload build dir
          path: './docs/_builds'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
